In [ ]:
 %matplotlib notebook

In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [38]:
# Create file paths for csv files
mouse = 'data\Mouse_metadata.csv'
study = 'data\Study_results.csv'

# Read in files from csv
mouse_df = pd.read_csv(mouse)
study_df = pd.read_csv(study)

print(mouse_df.head())
print(study_df.head())

# Merge both data sets on Mouse ID
ms_df = pd.merge(mouse_df, study_df, on='Mouse ID', how='inner')
ms_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16
  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [54]:
# Looking for number of Mice
ids = mouse_df['Mouse ID'].count()
print(ids)

st_ids = mouse_df['Mouse ID'].count()
print(st_ids)

dups = study_df[study_df.duplicated(['Mouse ID', 'Timepoint'])]
dups

249
249

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
137      g989          0           45.000000                 0
360      g989          5           47.570392                 0
681      g989         10           49.880528                 0
869      g989         15           53.442020                 0
1111     g989         20           54.657650                 1